/**
 * @name Frankenstein CSS
 * @version 0.3.44
 * @author Tadaky#0033
 * @authorId 353673189240340482
 * @description Essentials Discord CSS in one.
 * @source https://github.com/Tadaky/CompactDiscordTheme/blob/main/Compact%20Discord.theme.css
 * @invite hfDt9Yf69M
 * @website https://github.com/Tadaky
*/

/* Put (/*) ahead @import to disable
/* Add Only @Imports */

/* Source */
@import url(https://maendisease.github.io/BetterDiscordStuff/Themes/Float/Float.css) (max-width: 940px);

/* AddonMini */
@import url(https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css);

/* Remove Minimum Size Warning */
@import url(https://maendisease.github.io/BetterDiscordStuff/Themes/Float/addon/RemoveMinimumSize.css) (width: 940px);

/* If your theme has custom settings icons, delete or comment this line */
/*@import url(https://maendisease.github.io/BetterDiscordStuff/Themes/Float/addon/SettingsIcons.css) (max-width: 940px);

/* Addon Float */
@import url(https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css);
 
/* Settings Icons */
/*@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css');

/* Emoji Microsoft */
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Microsoft.css");

/* Discolored */
@import url('https://nyri4.github.io/Discolored/main.css');

/* Icon Pack Edited */
@import url("https://warrayquipsome.github.io/Chillax/Addons/IconPackEdited.css");

/* Avatar Only Member List */
@import url("https://warrayquipsome.github.io/Chillax/Addons/AvatarOnlyMemberList.css");

/* Account Details Grid */
@import url(//dablulite.github.io/css-snippets/AccountDetailsGrid/import.css);

/* Minimal Auth Apps */
@import url("https://minidiscordthemes.github.io/Snippets/MinimalAuthApps/MinimalAuthApps.css");

/* Add Server Dark Mode */
@import url(https://neodymium7.github.io/BetterDiscordStuff/CSS/AddServerDarkMode.css);

/* Chat Bubble */
@import url(https://maendisease.github.io/BetterDiscordStuff/css/ChatBubbles.css);

/* Spotify Activity Redesign */
@import url("https://dablulite.github.io/css-snippets/SpotifyActivityRedesign/import.css");

/* Better Nitro Profile Border */
/*@import url("https://dablulite.github.io/css-snippets/BetterNitroProfileBorder/import.css");

/* Stacked Server */
@import url("https://blade04208.github.io/css/stacked/server.css");

/* Stacked Channel */
@import url("https://blade04208.github.io/css/stacked/channel.css");

/* Settings Icons */
@import url("https://minidiscordthemes.github.io/SettingsIcons/SettingsIcons.theme.css");

/* Immersive Mode */
/*@import url("https://dablulite.github.io/css-snippets/ImmersiveMode/import.css");

/* Message Section */
@import url(https://seele1306.github.io/Snippets/MessageSection/import.css);

























/* Don't Add @Imports */

/* Hide Gift Button */
button:has([d="M4 6a4 4 0 0 1 4-4h.09c1.8 0 3.39 1.18 3.91 2.9A4.09 4.09 0 0 1 15.91 2H16a4 4 0 0 1 3.46 6H20a2 2 0 0 1 2 2v1.5a.5.5 0 0 1-.5.5h-19a.5.5 0 0 1-.5-.5V10c0-1.1.9-2 2-2h.54A3.98 3.98 0 0 1 4 6Zm12 2a2 2 0 1 0 0-4h-.09c-.96 0-1.8.65-2.02 1.58L13.29 8H16Zm-5.89-2.42.6 2.42H8a2 2 0 1 1 0-4h.09c.96 0 1.8.65 2.02 1.58Z"]) {
  display: none;
}

/* No profile effects */
[class*="profileEffects"] {
  display:none;
}

/* Removes Unnecessary Things From The User Panel */
.accountProfilePopoutWrapper-3GskID {
left: 0
}
.accountProfilePopoutWrapper-3GskID [class*=userPopout] {
margin: 0;
width: fit-content
}
.accountProfilePopoutWrapper-3GskID .section-28YDOf,
.userPopoutInner-nv9Y92:has(#account) > *:not(:has(#account)),
.userPopoutOverlayBackground-3A0Pcz:has(#account) > *:not(#account) {
display: none;
}

/* Stacked Server Settings */
:root {
    --guild-mini: 24px;
    --guild-max: 72px; /* normal server list size */ 
}

/* Stacked Channel Settings */
:root {
    --channel-mini: 36px;
    --channel-max: 240px; /* normal channel list size */
}

/* Add danger colours to dangerous user actions */
#user-context-close-dm, #user-context-remove-friend, #user-context-block { color: var(--status-danger) }
#user-context-close-dm:active, #user-context-remove-friend:active, #user-context-block:active {
    background-color: var(--red-500)!important;
    color: var(--white-500)!important;    
}
#user-context-close-dm[class*="focused-"], #user-context-remove-friend[class*="focused-"], #user-context-block[class*="focused-"] {
    background-color: var(--button-danger-background);
    color: var(--white-500);   
}

/* Floating Folder */
/*.wrapper-38slSD:active {
    -webkit-transform: unset;
    transform: none;
}

[id^="folder-items-"] {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 99;
    overflow-y: auto;
    max-height: calc(100vh - 72px);
    margin: auto auto auto calc(72px + 8px);
    padding-top: 8px;
    border-radius: 8px;
    background: var(--background-floating);
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
}

[id^="folder-items-"]::-webkit-scrollbar {
    display: none;
}

.folderIconWrapper-1oRIZr {
    transform: rotate(-90deg);
}

.closedFolderIconWrapper-3tRb2d .icon-1zKOXL,
.expandedFolderIconWrapper-3RwQpD svg {
    transform: rotate(90deg);
}

/* removes a bunch of stuff */
[class^="message-"] div[aria-label*="super" i]:has([class^="icon-"]),
[class^="reactButtons-"] > div[aria-label*="super" i],
[class^="reactionInner-"] [class^="effectsWrapper-"],
[class^="burstReactionTooltipPrompt-"],
[class^="burstEmojiSection-"],
[class*="colorPremiumGradient-"],
button[id="super-reaction-picker-tab"],
[class^="burstGlow-"] {
  display: none;
}

/* makes super reactions not disappear on hover */
[class*="hideEmoji-"] {
  opacity: 1;
}

/* removes stuff from emoji hover popup */
[class*="burstReactionTooltipSpacer-"] {
  border: none !important;
  padding: 0px;
  margin: 0px;
}

/* makes background color the same as normal reactions in "show reactions" tab*/
[class^="reactionSelected-"] {
  background: var(--background-tertiary) !important;
}

/* disables clicking */
[class^="reactionInner-"]:is([aria-label*=" super " i]) {
  pointer-events: none;
}

/* removes shake animation */
[class*="shakeReaction-"] {
  animation: none !important;
}

/* expandable user panel */
.panels-3wFtMD .container-YkUktl .flex-2S1XBF {
  width: fit-content !important; 
}
.panels-3wFtMD .container-YkUktl .avatarWrapper-1B9FTW {
  width: 194px;
  margin-right: 0px !important;
}
.panels-3wFtMD .container-YkUktl .avatarWrapper-1B9FTW:hover {
  margin-right: 8px !important;
}
.panels-3wFtMD .container-YkUktl .flex-2S1XBF button[role="switch"] {
  width: 0px;
  overflow: hidden;
  transition: all 0.3s;
  left: 16px;
}
.panels-3wFtMD .container-YkUktl .flex-2S1XBF:hover button[role="switch"] {
  width: 32px;
  overflow: visible;
  transition: all 0.3s;
  left: 0px;
}
.panels-3wFtMD .container-YkUktl .flex-2S1XBF:not(:hover) button:not([role="switch"]) svg {
  rotate: 360deg;
  transition: rotate 0.3s;
  background-color: var(--background-secondary-alt); /* might look off with some themes */
}
.panels-3wFtMD .container-YkUktl .flex-2S1XBF:hover button:not([role="switch"]) svg {
  rotate: 0deg;
  transition: rotate 0.3s;
}

/* Radial Status Settings */
:root {
  --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 3px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 4px; /* Gap between avatar and status for User profiles | MUST end in px */

  --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
  --rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
  --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */

  --rs-avatar-shape: 50%; /* 50% for round - 0% for square */

  --rs-online-color: #5edaa2; /* Colour for online status */
  --rs-idle-color: #f3ba57; /* Colour for idle status */
  --rs-dnd-color: #f16464; /* Colour for dnd status */
  --rs-offline-color: #c4c4c4; /* Colour for offline status */
  --rs-streaming-color: #8155ce; /* Colour for streaming status */
  --rs-invisible-color: #c6ccd3; /* Colour for invisible status - Note: this will only show for your own invisibility */
  --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone |  */

  --rs-phone-visible: none; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
}

/* Chat Bubble Root */
:root {
    --chat-bubble: 0.69;

    --chat-bubble-background-color: #fcfcfc1c;
    --chat-bubble-border-color: #ffffff;
    --chat-bubble-code-background-color: var(--background-secondary-alt);

    --chat-bubble-max-width: 70%;
    --chat-bubble-border-radius: 20px;

    --chat-bubble-box-shadow-h-offset: 0px;
    --chat-bubble-box-shadow-v-offset: 4px;
    --chat-bubble-box-shadow-blur: 8px;
    
    --chat-bubble-box-shadow-color-h: 0;
    --chat-bubble-box-shadow-color-s: 0%;
    --chat-bubble-box-shadow-color-l: 0%;
    --chat-bubble-box-shadow-color-a: 0.16;
}












/* Don't TOUCH!!!! */
:root {
    /* Guildlist */
    --guildicon-size: 48;
    --enable-if-using-favorites-experiment: 0; /* boolean */
    --guildlist-collapse: 0;

    /* Channel sidebar */
    --slide-window-on-hover: 1; /* boolean */
    --float-sidebar-width: 48;
    --sidebar-hover-width: 240px;
    --sidebar-hover-delay: 0.2s;
    --sidebar-transition-duration: 0.4s;
    --sidebar-window-gap: 8px;
    --sidebar-border-radius: 8px;
    --sidebar-usersettings-width: 66px;

    /* Memberlist */
    --float-members-width: 65px;
    --members-hover-width: 240px;
    --members-hover-delay: 1.5s;
    --members-transition-duration: 0.4s;

    /* Channelheader */
    --topic-opacity: 1;
    --toolbar-visibility: flex; /* [flex][none] */

    /* Textarea buttons */ /* [flex][none] */
    --textarea-buttons-gif: flex;
    --textarea-buttons-sticker: flex;
    --textarea-buttons-gift: none;

    /* Theme compatibility */
    /* --float-guildlist-width-correction: 0px; */
}

/* The variables are used when the window is at the set sizes, each media query can be edited/deleted */
@media (max-width:700px) {
    :root {
        --topic-opacity: 0;
        --toolbar-visibility: none;
        --textarea-buttons-gif: none;
        --textarea-buttons-sticker: none;
    }
}

@media (max-width:500px) {
    :root {
        --guildicon-size: 40;
        --float-members-width: 0;
    }
}

@media (max-width:400px) {
    :root {
        --float-sidebar-width: 0;
    }
}

@media (max-width:300px) {
    :root {
        --guildlist-collapse: 1;
    }
}
