/**
 * @name Compact Discord
 * @version 0.1.69
 * @author Tadaky#0033
 * @authorId 353673189240340482
 * @description Essentials Discord Addons in one.
 * @source https://github.com/maenDisease/BetterDiscordStuff/tree/main/Themes/Float
 * @invite hfDt9Yf69M
 * @website https://github.com/Tadaky
*/

/* Addons */
@import url(https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css);

/* Warning to Remove Minimum Size */
@import url(https://maendisease.github.io/BetterDiscordStuff/Themes/Float/addon/RemoveMinimumSize.css) (width: 940px);

/* Source */
@import url(https://maendisease.github.io/BetterDiscordStuff/Themes/Float/Float.css) (max-width: 940px);

/* If your theme has custom settings icons, delete or comment this line */
@import url(https://maendisease.github.io/BetterDiscordStuff/Themes/Float/addon/SettingsIcons.css) (max-width: 940px);


/* --------------------- Addons --------------------- */
/* Put (/*) ahead @import to disable

/* Addon Float */
@import url(https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css);
 
/* Settings Icons */
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css');

/* Emoji Microsoft */
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Microsoft.css");

/* Discolored */
@import url('https://nyri4.github.io/Discolored/main.css');

/* Icon Pack UI */
@import url("https://warrayquipsome.github.io/Chillax/Addons/IconPackEdited.css");

/* Avatar Member List */
@import url("https://warrayquipsome.github.io/Chillax/Addons/AvatarOnlyMemberList.css");

/* Folder Redesign */
/*@import url("https://warrayquipsome.github.io/Chillax/Addons/FolderRedesign.css");

/* Radial Status */
/*@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css");

/* Account Details Grid */
@import url(//dablulite.github.io/css-snippets/AccountDetailsGrid/import.css);

/* Settings Sidebar */
@import url(https://maendisease.github.io/BetterDiscordStuff/css/SettingsSidebar.css);

/* Floating Folder */
.wrapper-38slSD:active {
    -webkit-transform: unset;
    transform: none;
}

[id^="folder-items-"] {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 99;
    overflow-y: auto;
    max-height: calc(100vh - 72px);
    margin: auto auto auto calc(72px + 8px);
    padding-top: 8px;
    border-radius: 8px;
    background: var(--background-floating);
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
}

[id^="folder-items-"]::-webkit-scrollbar {
    display: none;
}

.folderIconWrapper-1oRIZr {
    transform: rotate(-90deg);
}

.closedFolderIconWrapper-3tRb2d .icon-1zKOXL,
.expandedFolderIconWrapper-3RwQpD svg {
    transform: rotate(90deg);
}

/* Minimal Auth Apps */
@import url("https://minidiscordthemes.github.io/Snippets/MinimalAuthApps/MinimalAuthApps.css");

/* removes a bunch of stuff */
[class^="message-"] div[aria-label*="super" i]:has([class^="icon-"]),
[class^="reactButtons-"] > div[aria-label*="super" i],
[class^="reactionInner-"] [class^="effectsWrapper-"],
[class^="burstReactionTooltipPrompt-"],
[class^="burstEmojiSection-"],
[class*="colorPremiumGradient-"],
button[id="super-reaction-picker-tab"],
[class^="burstGlow-"] {
  display: none;
}
/* makes super reactions not disappear on hover */
[class*="hideEmoji-"] {
  opacity: 1;
}
/* removes stuff from emoji hover popup */
[class*="burstReactionTooltipSpacer-"] {
  border: none !important;
  padding: 0px;
  margin: 0px;
}
/* makes background color the same as normal reactions in "show reactions" tab*/
[class^="reactionSelected-"] {
  background: var(--background-tertiary) !important;
}
/* disables clicking */
[class^="reactionInner-"]:is([aria-label*=" super " i]) {
  pointer-events: none;
}
/* removes shake animation */
[class*="shakeReaction-"] {
  animation: none !important;
}

/* Oneko Sleeping*/
[class^="channelTextArea"]::before {
    content: "";
    width: 32px;
    height: 32px;
    bottom: calc(100% - 3px); /* Mess with the - 3px to change its vertical position */
    right: 10px; /* Switch this from right to left to put it on the left side, or increase/decrease to change its position */
    position: absolute;
    image-rendering: pixelated;
    background-image: url("https://raw.githubusercontent.com/adryd325/oneko.js/14bab15a755d0e35cd4ae19c931d96d306f99f42/oneko.gif");
    animation: oneko 1s infinite; /* change 1s to make the animation slower/faster */
}

@keyframes oneko {
    /*
    if you open the background image in ur browser, you will see that it has way more frames
    so if you want, you could make ur own keyframes for a different animation
    the top left frame is 0 0, second top row is -32 0, second row second is -32 -32 and so on
    the ...00001% makes it so that there's no transition between the frames, so if you wanted say 3 frames, you'd do 0%, 33.3%; 33.30001%, 66.6%; 66.60001%, 100%
    */
    0%, 50% {
        background-position: -64px 0;
    }
    50.0001%, 100% {
        background-position: -64px -32px;
    }
}

/* expandable user panel */
.panels-3wFtMD .container-YkUktl .flex-2S1XBF {
  width: fit-content !important; 
}

.panels-3wFtMD .container-YkUktl .avatarWrapper-1B9FTW {
  width: 194px;
  margin-right: 0px !important;
}

.panels-3wFtMD .container-YkUktl .avatarWrapper-1B9FTW:hover {
  margin-right: 8px !important;
}

.panels-3wFtMD .container-YkUktl .flex-2S1XBF button[role="switch"] {
  width: 0px;
  overflow: hidden;
  transition: all 0.3s;
  left: 16px;
}

.panels-3wFtMD .container-YkUktl .flex-2S1XBF:hover button[role="switch"] {
  width: 32px;
  overflow: visible;
  transition: all 0.3s;
  left: 0px;
}

.panels-3wFtMD .container-YkUktl .flex-2S1XBF:not(:hover) button:not([role="switch"]) svg {
  rotate: 360deg;
  transition: rotate 0.3s;
  background-color: var(--background-secondary-alt); /* might look off with some themes */
}

.panels-3wFtMD .container-YkUktl .flex-2S1XBF:hover button:not([role="switch"]) svg {
  rotate: 0deg;
  transition: rotate 0.3s;
}

/* Don't TOUCH!!!! */
:root {
    /* Guildlist */
    --guildicon-size: 48;
    --enable-if-using-favorites-experiment: 0; /* boolean */
    --guildlist-collapse: 0;

    /* Channel sidebar */
    --slide-window-on-hover: 1; /* boolean */
    --float-sidebar-width: 48;
    --sidebar-hover-width: 240px;
    --sidebar-hover-delay: 0.2s;
    --sidebar-transition-duration: 0.4s;
    --sidebar-window-gap: 8px;
    --sidebar-border-radius: 8px;
    --sidebar-usersettings-width: 66px;

    /* Memberlist */
    --float-members-width: 65px;
    --members-hover-width: 240px;
    --members-hover-delay: 1.5s;
    --members-transition-duration: 0.4s;

    /* Channelheader */
    --topic-opacity: 1;
    --toolbar-visibility: flex; /* [flex][none] */

    /* Textarea buttons */ /* [flex][none] */
    --textarea-buttons-gif: flex;
    --textarea-buttons-sticker: flex;
    --textarea-buttons-gift: none;

    /* Theme compatibility */
    /* --float-guildlist-width-correction: 0px; */
}

/* The variables are used when the window is at the set sizes, each media query can be edited/deleted */
@media (max-width:700px) {
    :root {
        --topic-opacity: 0;
        --toolbar-visibility: none;
        --textarea-buttons-gif: none;
        --textarea-buttons-sticker: none;
    }
}

@media (max-width:500px) {
    :root {
        --guildicon-size: 40;
        --float-members-width: 0;
    }
}

@media (max-width:400px) {
    :root {
        --float-sidebar-width: 0;
    }
}

@media (max-width:300px) {
    :root {
        --guildlist-collapse: 1;
    }
}

/* Radial Status Settings */
:root {
  --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 3px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 4px; /* Gap between avatar and status for User profiles | MUST end in px */

  --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
  --rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
  --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */

  --rs-avatar-shape: 50%; /* 50% for round - 0% for square */

  --rs-online-color: #5edaa2; /* Colour for online status */
  --rs-idle-color: #f3ba57; /* Colour for idle status */
  --rs-dnd-color: #f16464; /* Colour for dnd status */
  --rs-offline-color: #c4c4c4; /* Colour for offline status */
  --rs-streaming-color: #8155ce; /* Colour for streaming status */
  --rs-invisible-color: #c6ccd3; /* Colour for invisible status - Note: this will only show for your own invisibility */
  --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone |  */

  --rs-phone-visible: none; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
}
