/**
 * @name Compact Discord
 * @version 0.1.69
 * @author Tadaky#0033
 * @authorId 353673189240340482
 * @description Essentials Discord Addons in one.
 * @source https://github.com/maenDisease/BetterDiscordStuff/tree/main/Themes/Float
 * @invite hfDt9Yf69M
 * @website https://github.com/Tadaky
*/

/* Addons */
@import url(https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css);

/* Warning to Remove Minimum Size */
@import url(https://maendisease.github.io/BetterDiscordStuff/Themes/Float/addon/RemoveMinimumSize.css) (width: 940px);

/* Source */
@import url(https://maendisease.github.io/BetterDiscordStuff/Themes/Float/Float.css) (max-width: 940px);

/* If your theme has custom settings icons, delete or comment this line */
@import url(https://maendisease.github.io/BetterDiscordStuff/Themes/Float/addon/SettingsIcons.css) (max-width: 940px);


/* --------------------- Addons --------------------- */
/* Put (/*) ahead @import to disable

/* Addon Float */
@import url(https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css);
 
/* Settings Icons */
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css');

/* Emoji Microsoft */
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Microsoft.css");

/* Discolored */
@import url('https://nyri4.github.io/Discolored/main.css');

/* Icon Pack UI */
@import url("https://warrayquipsome.github.io/Chillax/Addons/IconPackEdited.css");

/* Avatar Member List */
@import url("https://warrayquipsome.github.io/Chillax/Addons/AvatarOnlyMemberList.css");

/* Folder Redesign */
/*@import url("https://warrayquipsome.github.io/Chillax/Addons/FolderRedesign.css");

/* Radial Status */
/*@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css");

/* Add more */

/* Don't TOUCH!!!! */
:root {
    /* Guildlist */
    --guildicon-size: 48;
    --enable-if-using-favorites-experiment: 0; /* boolean */
    --guildlist-collapse: 0;

    /* Channel sidebar */
    --slide-window-on-hover: 1; /* boolean */
    --float-sidebar-width: 48;
    --sidebar-hover-width: 240px;
    --sidebar-hover-delay: 0.2s;
    --sidebar-transition-duration: 0.4s;
    --sidebar-window-gap: 8px;
    --sidebar-border-radius: 8px;
    --sidebar-usersettings-width: 66px;

    /* Memberlist */
    --float-members-width: 65px;
    --members-hover-width: 240px;
    --members-hover-delay: 1.5s;
    --members-transition-duration: 0.4s;

    /* Channelheader */
    --topic-opacity: 1;
    --toolbar-visibility: flex; /* [flex][none] */

    /* Textarea buttons */ /* [flex][none] */
    --textarea-buttons-gif: flex;
    --textarea-buttons-sticker: flex;
    --textarea-buttons-gift: none;

    /* Theme compatibility */
    /* --float-guildlist-width-correction: 0px; */
}

/* The variables are used when the window is at the set sizes, each media query can be edited/deleted */
@media (max-width:700px) {
    :root {
        --topic-opacity: 0;
        --toolbar-visibility: none;
        --textarea-buttons-gif: none;
        --textarea-buttons-sticker: none;
    }
}

@media (max-width:500px) {
    :root {
        --guildicon-size: 40;
        --float-members-width: 0;
    }
}

@media (max-width:400px) {
    :root {
        --float-sidebar-width: 0;
    }
}

@media (max-width:300px) {
    :root {
        --guildlist-collapse: 1;
    }
}

/* Radial Status Settings */
:root {
  --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 3px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 4px; /* Gap between avatar and status for User profiles | MUST end in px */

  --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
  --rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
  --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */

  --rs-avatar-shape: 50%; /* 50% for round - 0% for square */

  --rs-online-color: #5edaa2; /* Colour for online status */
  --rs-idle-color: #f3ba57; /* Colour for idle status */
  --rs-dnd-color: #f16464; /* Colour for dnd status */
  --rs-offline-color: #c4c4c4; /* Colour for offline status */
  --rs-streaming-color: #8155ce; /* Colour for streaming status */
  --rs-invisible-color: #c6ccd3; /* Colour for invisible status - Note: this will only show for your own invisibility */
  --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone |  */

  --rs-phone-visible: none; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
}
