/*
 * @name Tadaky's Pessoal
 * @version 0.10.2
 * @author Tadaky#0000
 * @authorId 353673189240340482
 * @description Tema feito para uso pessoal, não ofereço nunhum tipo de suporte.
 * @source https://github.com/Tadaky/CompactDiscordTheme/blob/main/Compact%20Discord.theme.css
 * @invite hfDt9Yf69M
 * @website https://github.com/Tadaky
*/

/* Put (/*) ahead to disable

/* Settings Icons */
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css");

/* Discolored */
@import url("https://nyri4.github.io/Discolored/main.css");

/* Icon Pack Edited */
@import url("https://warrayquipsome.github.io/Chillax/Addons/IconPackEdited.css");

/* Avatar Only Member List */
@import url("https://warrayquipsome.github.io/Chillax/Addons/AvatarOnlyMemberList.css");

/* Account Details Grid */
@import url("https//dablulite.github.io/css-snippets/AccountDetailsGrid/import.css");

/* Add Server Dark Mode */
@import url("https://neodymium7.github.io/BetterDiscordStuff/CSS/AddServerDarkMode.css");

/* MinimalAuthApps */
@import url("https://minidiscordthemes.github.io/Snippets/MinimalAuthApps/main.css");

/* transparent-popups */
@import url("https://s-k-y-l-i.github.io/discord-themes/Theme%20code/transparent-popups.css");

/* transparent-popups Config */
:root{
    --blur-popup: 40px; /*Popup blur size*/
    --opacity-popup: 0.6; /*Popup background opacity*/  
    --radius-popup: 40px; /*Popup border radius*/
    --radius-context: 20px; /*Context menu popups radius*/
    /*--pop-up-color: black; /*uncomment for custom Popup color*/ 
    /*--context-menu-border: 1px solid red; /*uncomment for custom border*/
}

/* Search as a button  */
.search_ac353c:not(.open_d3ab4e) > .searchBar__5a20a {
    width: 22px;
    background: transparent;
}
.searchBarComponent__8f95f{
    background: transparent;
}
.search_ac353c:not(.open_d3ab4e) .iconLayout__9d9a4 {
    cursor: pointer;
}
.search_ac353c:not(.open_d3ab4e) .iconContainer__9f124 {
    transform: scale(1.4);
}
.search_ac353c:not(.open_d3ab4e) .icon__5c8c7 {
    color: var(--interactive-normal);
}
.search_ac353c:not(.open_d3ab4e):hover .icon__5c8c7 {
    color: var(--interactive-active);
}

/* Spotifly player */
#vc-spotify-player {
    --blur-amount: 2px; /* higher px = stronger blur, 0 = no blur */
    --darken-percent: 0.8; /* 0 = album cover is not darkened, 1 = album cover is darkened fully (black) */
}
#vc-spotify-player {
    background: transparent !important;
    position: relative;
}
#vc-spotify-player > * {
    position: relative;
    z-index: 1;
}
#vc-spotify-player::after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, var(--darken-percent)),
            rgba(0, 0, 0, var(--darken-percent))), var(--vc-spotify-track-image);
    background-size: cover;
    filter: blur(var(--blur-amount));
    clip-path: inset(0);
}

/* Improved Dashless Channel Names */
@font-face
 { font-family: "Twemoji Mozilla";
   src: url("https://vendicated.github.io/random-files/Twemoji.Mozilla.ttf") format("truetype");
   unicode-range: U+1F1E6-1F1FF; }
@font-face
 { font-family: "dashless";
   size-adjust: 100%; /*adjust this to change word spacing*/
   src: url("https://vendicated.github.io/random-files/Dashless.woff2") format("woff2");
   unicode-range: U+002D; }
[data-list-item-id^=channels___]:not([role=button]), /* channel list */
[class^=titleWrapper] > h1, /* top bar with topic */
[class^=titleWrapper] > h2, /* top bar in thread view */
[id^=":r"] > h1, /* topic popup */
[class^=resultChannel], [class^=channelNameContainer_], [class^=searchAnswer_], /* search */
[class^=autocompleteRowContent_] [class*=autocompleteRowHeading_], /* chat autocomplete */
.channelWithIcon, /* channel mentions in chat */
[class^=emptyChannelIcon_] + h3, /* start of new channel */
[class^=emptyChannelIcon_] ~ [class*=description_],
[class^=browser_] [class*=channelText_], /* channel browser*/
[class^=returnButton_] [class^=text-], /*return button in channel browser*/
[class^=placeholder][class*=slateTextArea], /* chat input placeholder text */
[class^=auditLog_] [class^=overflowEllipsis_] strong, /* audit log */
.vc-permviewer-perms-title, /* permissionsviewer */
[class^=headerChannelContainer_] > div, /* invite to channel dialog */
[class^=uploadDropModal_] strong, /* file drag upload */
[class^=channelNameSpan_] /* inbox */
 { font-family: "Twemoji Mozilla", "dashless", var(--font-primary); }

/* Hide Bottm Button */
[class^=channelTextArea_] [class^=buttons_] {
  transition: translate ease-in-out 0s;
  translate: calc(100% - 8px);
}
[class^=channelTextArea_] [class^=buttons_]:hover {
  translate: 0;
}
[class^=channelTextArea_] [class^=buttons_]::before,
[class^=channelTextArea_] [class^=buttons_]::after {
    content: "Ctrl+E";
    font-size:.89rem;
    color: var(--interactive-normal);
    display:flex;
    align-items:center;
    position:absolute;
    right:100%;
    height:100%;
    transition: opacity 0.1s 0.1s linear;
}
[class^=channelTextArea_] [class^=buttons_]::before{
    color:transparent;
}
[class^=channelTextArea_] [class^=buttons_]:hover::after {
    content:"";
    opacity: 0;
}

/* Add danger colours to dangerous user actions */
#user-context-close-dm, #user-context-remove-friend, #user-context-block { color: var(--status-danger) }
#user-context-close-dm:active, #user-context-remove-friend:active, #user-context-block:active {
    background-color: var(--red-500)!important;
    color: var(--white-500)!important;    
}
#user-context-close-dm[class*="focused-"], #user-context-remove-friend[class*="focused-"], #user-context-block[class*="focused-"] {
    background-color: var(--button-danger-background);
    color: var(--white-500);   
}

/* Makes super reactions the same as normal reactions */
[class*="reaction"][class*="reactionMe"] {border-color: var(--brand-experiment) !important; background-color: var(--brand-experiment-15a) !important;}
[class*="reactionCount"] {color: var(--interactive-normal) !important;}
[class*="effectsWrapper"] {display: none;}
[class^="burstGlow"], [class*="reaction_"], [class*="reaction"][class*="shakeReaction"] {
    box-shadow: none !Important; 
    background: var(--background-secondary) !important;
    animation: none;
}
[class*="hideEmoji"] {opacity: 1;}

/* hides super reactions */
[class^=reaction_]:has(div > [class^="burstGlow"]) {
    display: none;
}

/* hide reactions in a channel */
[data-list-id="chat-messages"]  li[id^="chat-messages-CHANNELID"] [id^="message-accessories"] {
    display: none;
}

/* Discord Logo */
.theme-dark {
}
.wordmarkWindows_a934d8 svg {
  position: fixed;
  top: 4px;
  left: 50%;
  transform: translate(-50%);
}
.typeWindows_a934d8 {
  z-index: 1;
  background-color: var(--background-secondary-alt);
}

/* Gifs Window */
[class^="positionContainer_"] {
  height: calc(111vh - 200px);
}

/* Collapse Discover */
.footer_f8ec41 {
    height: 10px;
    transition-duration: 100ms;
    transition-delay: 2000ms;
}

.footer_f8ec41:hover {
    height: 56px;
    transition-duration: 100ms;
    transition-delay: 0ms;
}

/* Hide AppLauncher+Emoji+Gif+Sticker */
.iconWrapper_fc4f04[aria-label="Bookmarks"] {
    display: none;
}
.iconWrapper_fc4f04[aria-label="Help"] {
    display: none;
}
.iconWrapper_fc4f04[aria-label="Notification Settings"] {
    display: none;
}
.buttons_bdf0de > [aria-label="Send a gift"] {
    display: none;
}
.button_dd4f85[aria-label="Open GIF picker"] {
    display: none;
}
.button_dd4f85[aria-label="Open sticker picker"] {
    display: none;
}
.emojiButtonNormal_d91a75[aria-label="Select emoji"] {
    display: none;
}
